.Task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.08);
}

.Task span {
  margin-left: 6px;
}

.Task button {
  background: #2d7ff9;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.Task button:hover {
  background: #1f6fe0;
}
.minutes{
  color: #2d7ff9;
  font-weight: bold;
  background-color: #eee;
  padding: 0.2rem 0.3rem;
  border-radius: 6px;
}
.stop{
  background-color: #b41d1dff;
}