.App {
  max-width: 700px;
  margin: 40px auto;
  background: #ffffff;
  padding: 20px 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
}